@page
@model YouVents.Pages.Events.BrowseModel
@{
    ViewData["Title"] = "Browse";
    var Culture = new System.Globalization.CultureInfo("en-US");
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container" style="min-height: 55vh; border-style: solid; border-color: grey; border-width: 1px; border-radius: 5px;">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="my-3">Upcoming Events:</h2>


            <!-- testing filtering-->
            <div class="container row">
                <div class="col-1"></div>
                <div class="col-10 row">
                    <form id="FilterForm" method="post">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-auto" style="font-size:1.5em;">Filter By:</div>
                                <input class="form-control col" id="EventSearch" type="text" placeholder="Event Name" />
                            </div>
                            <div class="row text-left my-3">
                                <div class="col-md-auto">
                                    <input asp-for="Input.Date" id="DateSearch" type="date" placeholder="date" class="form-control" />
                                </div>
                                <!-- -->
                                <!--<div class="input-group input-daterange col-3">
                                    <input type="date" class="form-control" value="2012-04-05">
                                    <div class="input-group-addon">to</div>
                                    <input type="date" class="form-control" value="2012-04-19">
                                </div>-->
                                <!-- -->
                                <div class="col-2">
                                    <div class="input-group w-100">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input asp-for="Input.Price" id="PriceSearch" type="text" placeholder="Price" class="form-control">
                                    </div>
                                </div>

                                <div class="col-3">
                                    <input asp-for="Input.City" id="CitySearch" type="text" placeholder="City" class="form-control" />
                                </div>
                                @*<div class="col-2">*@
                                <div class="col-md-auto">
                                    <select asp-for="Input.SortMethod" id="SortBy" class="input-sm form-control">
                                        <option>Sort By</option>
                                        <option>Price (Low-High)</option>
                                        <option>Price (High-Low)</option>
                                        <option>Date (Ascend)</option>
                                        <option>Date (Descend)</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input class="btn btn-success" id="FilterBtn" type="submit" value="Apply" />
                                    @*<input class="btn btn-secondary" id="ClearFilterBtn" type="reset" value="Clear" />*@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
            <div id="EventList" class="mt-4 ">
                <!-- Loop through all of the events and display them -->
                @foreach (var E in Model.Events)
                {
                    <div class="container row">
                    <a style="margin-left: 30%" asp-page="/Events/View" asp-route-id="@E.Id">

                        <div class="row mb-5">

                            <!-- if (document.getElementByID("CitySearch").value == @E.City){        Not sure how to get this to work yet-->

                            <div class="text-right">
                                <img style="height:150px; width:200px" class="mx-4 d-block" src="@E.Image" />
                            </div>
                            <div class="text-left my-auto">
                                <p class="m-0" style="font-size:1.5em; text-shadow: -1px 1px 0 #0F0, 1px 1px 0 #0F0, 1px -1px 0 #0F0; -1px -1px 0 #0F0;"><strong>@E.Name</strong></p>
                                <p class="text-black-50 m-0" id="Date">Date: @Convert.ToDateTime(E.Date).ToString("ddd, MMM dd yyyy")</p>
                                <p class="text-black-50 m-0" id="Time">Time: @Convert.ToDateTime(E.Time).ToString("h:mm tt")</p>
                                <p class="text-black-50 m-0" id="Price">Price: @E.Price.ToString("C", Culture)</p>
                                <p class="text-black-50 m-0" id="Location">Location: @E.City, @E.State</p>
                            </div>
                        </div>
                    </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
