@page
@model YouVents.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container" style="min-height: 55vh;">
    <div class="row">
        <!-- Main section to show events near the user (default sort by soonest date) -->
        <div class="col-12">
            <h4><u>Events Near you</u></h4>
            <form class="form-inline" asp-action="Index" method="get">
                <!-- Does nothing at the moment (just reloads the current page) -->
                <input type="search" class="form-control rounded" placeholder="Search" />
                <input type="submit" class="btn btn-outline-dark" value="Search" />
            </form>
            <div style="max-height: 65vh; overflow-y: auto; overflow-x: hidden;">
                <!-- Loop through all of the events and display them -->
                @foreach (var E in Model.Events)
                {
                    <a class="m-1">
                        <div class="row">
                            <div class="col text-right">
                                <img src="~/Images/event.png" />
                            </div>
                            <div class="col text-left">
                                <p class="m-0"><strong>@E.Name</strong></p>
                                <p class="text-black-50 m-0">Date: @E.Date</p>
                                <p class="text-black-50 m-0">Time: @E.Time</p>
                                <p class="text-black-50 m-0">Price: @E.Price.ToString("C")</p>
                                <p class="text-black-50 m-0">Location: @E.City, @E.State)</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
