@page "{id:int}"
@model YouVents.Pages.Events.ViewModel
@{
    ViewData["Title"] = "View";
    var Culture = new System.Globalization.CultureInfo("en-US");
}


<div class="container">
    <div class="row">
        <div class="col-9 text-left">
            <h1>@Model.Event.Name</h1>
            @*<img height="150" width="300" src="~/images/event.png" />*@
            <br />
            <h4>Description</h4>
            <p>@Model.Event.Description</p>
        </div>
        <div class="col-3 text-left">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Details</h4>
                    <p class="card-text"><b>Event Date</b>: @Convert.ToDateTime(Model.Event.Date).ToString("ddd, MMM dd, yyyy")</p>
                    <p class="card-text"><b>Start Time:</b> @Convert.ToDateTime(Model.Event.Time).ToString("h:mm tt")</p>
                    <p class="card-text">
                        <b>Location</b>: @Model.Event.Street, @Model.Event.City,
                        @Model.Event.State, @Model.Event.Zip
                    </p>
                    <p class="card-text"><b>Event Type:</b> @Model.Event.Type</p>
                    <p class="card-text"><b>Capacity:</b> @Model.Event.Capacity.ToString("N0")</p>
                    <p class="card-text"><b>Ticket Price:</b> @Model.Event.Price.ToString("C", Culture)</p>
                    <form asp-route-id="@Model.Event.Id" method="post">
                        <label asp-for="NumTickets">Tickets:</label>
                        <input type="number" class="form-control" asp-for="NumTickets" />
                        <input type="submit" class="btn btn-lg btn-outline-primary" value="Checkout" />
                    </form>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Message Boards</h5>
                    <p><a href="#" class="card-link" data-toggle="modal" data-target="#contactInfo">Contact Organizer</a></p>
                    <p><a href="#" class="card-link">General Event Chat</a></p>
                    <p><a href="#" class="card-link">FAQ</a></p>
                </div>
            </div>

            <!-- Contact Info Modal -->
            <div class="modal fade" id="contactInfo">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Contact Info</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Email:<a href="mailto: @Model.Organizer.Email"> @Model.Organizer.Email</a></p>
                            @if (Model.Organizer.PhoneNumber != "")
                            {
                                <p>Phone: @Model.Organizer.PhoneNumber</p> 
                            }
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Send a Private Message</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

